body {
  background-color: #ff00ff;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px)
{
  #index-header {
    background-color: #00FF00;
    height: 10vh;
    border-radius: 0px 0px 10px 10px;
  }

  #index-nav {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 3fr 3fr 3fr;
    height: 100%;
    
  }

  #index-nav a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }#index-nav a:hover {
    text-decoration: underline;
  }

  .index-article {
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.703);
  }

}

